main {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.363);
  display: flex;
  align-items: center;
  justify-content: center;
}


h1,
h2,
h3,
p {
  color: #f5eaea;
}

@import url('https://fonts.cdnfonts.com/css/callie-chalk-font');

.type-animation {
  color: antiquewhite;
}

.search-below {
   color: antiquewhite;
   font-size: 2.5rem;
   font-family: poor richard;
}

label {
  color: white !important;
}

input {
  font-family: 'Callie Chalk Font', sans-serif !important;
  color: white !important;
  font-size: 2rem !important;
}

.search-input {
    border-radius: 20px;
    font-size: 1.8rem;
    font-family: 'Callie Chalk Font', sans-serif;
    background-color: rgb(24, 24, 24);
    color:antiquewhite
}

.MuiAutocomplete-listbox {
  background-color: rgb(21, 20, 20);
}

.MuiAutocomplete-option {
  color: rgb(248, 248, 251);
  font-family: 'Callie Chalk Font', sans-serif;
}

button {
    background: linear-gradient(to bottom, #d6f75e, #885f65);
    transition: background-color 0.3s ease;
    font-family: 'Callie Chalk Font', sans-serif !important;
    color: rgb(79, 26, 26) !important;
    font-weight:bolder !important;
    font-size: 1.3rem !important;
}

button:hover {
    background-color: #006666;
  }

.search-form {
    margin-top: 20px;
    border-radius: 70px;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Callie Chalk Font', sans-serif;
    color: rgb(56, 7, 53);
    display: flex;
    align-items: center;
}

.wine-bread {
  width: 60px;
}

.results-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: rgb(99, 32, 32);
  }
  
  .pairings-container, .recommendations-container {
    flex-basis: 40%;
  }

  .recommendations-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/src/assets/images/menu.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin-right: 35rem;
    border-radius: 70px;
    padding-top: 10rem;
  }

  .pairings-container {
    background-image: url(/src/assets/images/big-chalkboard.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    max-height: 30rem;
    max-width: 30rem;
    border-radius: 90px;
  }

  .menu {
    text-decoration: underline;
  }

  .wineGlass {
    width: 7rem;
  }
  

  .pairings-container h2{
    color:antiquewhite;
    font-family: 'Callie Chalk Font', sans-serif;
    font-size: 2rem;
    padding-top: 1rem;
  }

  .pairings-container h3{
    color:antiquewhite;
    font-family: 'Callie Chalk Font', sans-serif;
    font-size: 1.5rem;
    padding-top: 1rem;
  }
  .pairings-container li {
  color:antiquewhite;
  font-family: 'Callie Chalk Font', sans-serif;
  font-size: 1.5rem;
  }

  h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: rgb(99, 32, 32);
    font-family: poor richard;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 0.5rem;
    text-align: center;
    align-items: center;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    border-radius: 10px;
  }

  .wineImg {
    padding-left: 5rem;
   }
  
  .wine-recommendations-price {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  p {
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
    width: 30rem;
    text-align: center;
    padding-left: 9rem;
  }

  h1, h2, h3, ul, li, .wine-recommendations-price, p {
    color: rgb(99, 32, 32);
    text-align: center;
    align-items: center;
  }
  

