main {
  background-color: rgba(0, 0, 0, 0.363);
  display: flex;
  align-items: center;
  justify-content: center;
}


h1,
h2,
h3,
p {
  color: #f5eaea;
}

@import url('https://fonts.cdnfonts.com/css/callie-chalk-font');

.type-animation {
  color: antiquewhite;
}

.wineBread {
  width: 9rem;
  margin-left: 2rem;
}

.wine-glass {
  width: 7rem;
}

.search-below {
   color: antiquewhite;
   font-size: 2.5rem;
   display: flex;
   align-items: center;
}

label {
  color: white !important;
}

input {
  font-family: 'Callie Chalk Font', sans-serif !important;
  color: white !important;
  font-size: 2rem !important;
}

.search-input {
    border-radius: 20px;
    font-size: 1.8rem;
    font-family: 'Callie Chalk Font', sans-serif;
    background-color: rgb(24, 24, 24);
    color:antiquewhite;
    margin-right: 10rem;
}

.MuiAutocomplete-listbox {
  background-color: rgb(21, 20, 20);
}

.MuiAutocomplete-option {
  color: rgb(248, 248, 251);
  font-family: 'Callie Chalk Font', sans-serif;
}

.chalk-button {
    background: linear-gradient(to bottom, #d6f75e, #885f65);
    transition: background-color 0.3s ease;
    font-family: 'Callie Chalk Font', sans-serif !important;
    color: rgb(79, 26, 26) !important;
    font-weight:bolder !important;
    font-size: 1.3rem !important;
}

.chalk-button:hover {
  background: linear-gradient(to bottom, #885f65, #d6f75e);
  color: #ffffff !important;
  }

.search-form {
    margin-top: 20px;
    border-radius: 70px;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Callie Chalk Font', sans-serif;
    color: rgb(56, 7, 53);
    display: flex;
    align-items: center;
}

.wine-bread {
  width: 60px;
}

.results-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: rgb(99, 32, 32);
  }
  
  .pairings-container, .recommendations-container {
    flex-basis: 40%;
  }

  .recommendations-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/src/assets/images/menu.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin-right: 5rem;
    border-radius: 70px;
    padding-top: 10rem;
  }

  .pairings-container {
    background-image: url(/src/assets/images/big-chalkboard.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    max-height: 70rem;
    max-width: 60rem;
    width: 40rem;
    border-radius: 90px;
    border: 1.5rem solid rgb(74, 36, 16);
    margin-left: 5rem;
    margin-right: 3rem;
  }

  .menu {
    text-decoration: underline;
    color: antiquewhite;
    font-family: 'Callie Chalk Font', sans-serif;
  }

  .wine-glass {
    width: 7rem;
    padding-right: 2rem;
  }
  
  .pairings-container h2{
    color:antiquewhite;
    font-family: 'Callie Chalk Font', sans-serif;
    font-size: 2rem;
  }

  .pairings-container h3{
    color:antiquewhite;
    font-family: 'Callie Chalk Font', sans-serif;
    font-size: 2rem;
  }
  .pairings-container ul {
  color:antiquewhite;
  font-family: 'Callie Chalk Font', sans-serif;
  font-size: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  }

  .recommendations-container h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: rgb(99, 32, 32);
    font-family: poor richard;
  }
  
  .recommendations-container ul {
    list-style: none;
    padding: 0;
  }
  
  .recommendations-container li {
    margin-bottom: 0.5rem;
    text-align: center;
    align-items: center;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    border-radius: 10px;
  }

  .wine-container {
    position: relative;
  }
  
  .wine {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20rem;
    margin-top: 12.5rem;
    width: 6rem;
    height: 7rem;
  }
  
  .bottle {
    z-index: -1;
    width:6rem;
  }

  .wineImg {
    padding-left: 5rem;
   }

   
  
  .wine-recommendations-price {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .recommendations-container p {
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
    width: 30rem;
    text-align: center;
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .recommendations-container h1, h2, h3, ul, li, .wine-recommendations-price, p {
    color: rgb(99, 32, 32);
    text-align: center;
    align-items: center;
  }

  
  

