main {
  padding: 0px 20px;
}

.search-form input[type="text"] {
  margin-top: 20px;
}
.search-form input[type="submit"] {
  margin-top: 20px;
  margin-left: 10px;
}
.results-container {
  display: flex;
}

.pairings-container {
  width: calc(30vw - 40px);
  margin-right: 20px;
}

.recommendations-container {
  width: calc(70vw - 20px);
}

<<<<<<< HEAD
.wine-title {
  width: auto;
=======
/* background image */

body {
  background-image: url(/src/images/backgroundTable.jpg);
  background-size: cover;
>>>>>>> d737492a7e2ea3e7d71dc9f1805ad69535c0ba82
}