main {
  padding: 0px 20px;
}

.search-form input[type="text"] {
  margin-top: 20px;
}
.search-form input[type="submit"] {
  margin-top: 20px;
  margin-left: 10px;
}
.results-container {
  display: flex;
}

.pairings-container {
  width: calc(30vw - 40px);
  margin-right: 20px;
}

.recommendations-container { 
  width: calc(70vw - 20px);
}


.wine-title {
  width: auto;
}

/* background image wallpaper */


body {
  background-image: url(/src/assets/images/backgroundTable.jpg);
  background-size: cover;
}


/* .section {
  height: 100vh ;
} */

.wine-title {
  width: auto;

}


